@{
    ViewData["Title"] = "Books";
}

<div class="mb-3">
    <a asp-area="" asp-controller="Book" asp-action="Create" class="btn btn-success">Create new Book</a>
</div>
<div class="row mb-3">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="clearfix">
            <form id="booksTableFilters" autocomplete="off">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="searchByTitle" placeholder="Title" />
                    <label for="searchByTitle">Search by book title..</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="searchByPrice" step=".01" placeholder="Price" />
                    <label for="searchByPrice">Search by book price..</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="searchByPublisher" placeholder="Publisher" />
                    <label for="searchByPublisher">Search by publisher name..</label>
                </div>
                <button type="submit" class="btn btn-primary float-end">Apply Filters</button>
            </form>
        </div>
    </div>
</div>

<table id="booksTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Genre(s)</th>
            <th scope="col">Published By</th>
            <th scope="col">Published On</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
</table>

@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" />
}

@section Scripts {
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Book/Index.js" asp-append-version="true"></script>
}
